@charset "UTF-8";

h1,
h2,
h3,
p,
nav {
  font-family: "Century", "Georgia", serif;
}

body {
  background-color: #49220b;
  font-family: "Century", "Georgia", serif;
}

main {
  background-color: #d89f6a;
  padding: 1em;
  margin: 1em;
  margin-left: 20em;
  width: 40em;
}

#content main {
  background-color: #d89f6a;
  padding: 1em;
  width: 40em;
}

#sortButton {
  height: 1.5em;
  width: 3em;
  font-size: 1em;
}

aside {
  margin: 2em;
  border-left: 1em black solid;
  padding-left: 5em;
}

/*Styles the Index page to show main content side by side*/
#content {
  display: flex;
  justify-content: center;
  align-items: center;
}

main form {
  border: 0.2em solid black;
  display: flex;
  margin: 5em;
  padding: 2em;
  flex-direction: column;
  justify-content: space-around;
  background-color: #d89f6a;
  align-items: center;
}

form div {
  padding: 1em;
  margin: 1em;
  width: 10em;
  font-size: 1em;
  border: 0.2em solid black;
  justify-content: center;
  align-items: center;
  background-color: #a36a36;
}

form div.myPassword {
  background-color: #a36a36;
}

form div.myPassword input {
  background-color: white;
  width: 6.5em;
}

form button {
  margin: 0.5em;
}

button {
  background-color: #a36a36;
  border-radius: 0.7em;
  border-color: #49220b;
  border-width: 0.07em;
  min-width: 5em;
  padding: 0.2em;
  height: 2em;
  font-size: 2em;
  font-family: "Century", "Georgia", serif;
}

.coverForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: purple;
}

.coverButton {
  border-radius: 0em;
  border: none;
  padding: 0em;
  margin: 0 auto;
  height: 240px;
  width: 140px;
}

#forgotpassword {
  width: auto;
  font-size: 1em;
  color: blue;
  text-decoration: underline;
  margin: 1em;
}

input#remember {
  align-self: flex-end;
  width: 1em;
  height: 1em;
}

header {
  background-color: #d89f6a;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 7em;
}

header h1 {
  order: 3;
  font-size: 3.5em;
  text-align: center;
  padding-top: 0.2em;
}

header a {
  background-color: #a36a36;
  border-radius: 0.7em;
  border-color: #49220b;
  border-style: solid;
  border-width: 0.07em;
  width: auto;
  min-width: 4.5em;
  height: 2em;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  color: black;
  padding-top: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-family: "Century", "Georgia", serif;
}

#indexButton {
  order: 1;
}

#bookShelfButton {
  order: 2;
  /*  left: 12em; */
}

#accountButton {
  order: 4;
  /*  left: 29em; */
}

#loginButton {
  order: 6;
}

#searchButton {
  background-color: #a36a36;
  border-radius: 0.7em;
  border-color: #49220b;
  border-width: 0.07em;
  height: 2em;
  width: 4em;
  font-size: 1.5em;
  text-align: center;
  font-family: "Century", "Georgia", serif;
}

header form {
  order: 5;
}

#searchField {
  font-size: 1.2em;
  font-style: italic;
  border-radius: 0.5em;
  background-color: #a36a36;
  border-color: #49220b;
}

#bodyDiv {
  height: 2em;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.3em;
  justify-content: flex-start;
  margin: 1em;
}

#bodyDiv p {
  font-size: 1.45em;
  background-color: #a36a36;
}

select {
  background-color: #d89f6a;
  font-size: 1.3em;
  border-color: #a36a36;
  border-width: 0.12em;
}

#shelfDiv {
  padding-top: 5em;
  height: 43em;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.shelfOuter {
  background-color: #a36a36;
  border-style: solid;
  border-radius: 0.5em;
  height: 13.5em;
  width: 60em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.shelfInner {
  background-color: #d89f6a;
  border-style: solid;
  border-radius: 0.5em;
  height: 1em;
  width: 60em;
}

#shelfDiv nav {
  align-self: flex-end;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

#addBook {
}

ul {
  display: inline-block;
}

.pretendBookGreen {
  height: 30em;
  width: 5em;
  margin: 1em;
  background-color: green;
  border: 0.2em solid black;
}

nav a {
  padding: 0.05em;
  text-decoration: none;
  color: black;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.3em;
  border-color: black;
  background-color: #a36a36;
}

.shelfButton {
  padding: 0.05em;
  text-decoration: none;
  color: black;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.3em;
  border-color: black;
  background-color: #a36a36;
}

.displayBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 55em;
  width: 42%;
  background-color: #d89f6a;
  margin: auto;
}

#addBookDisplayBox {
  height: 60em;
  width: 50%;
  justify-content: space-around;
}

#addBookDisplayBox input[type="submit"] {
  background-color: #d89f6a;
  border-radius: 0.7em;
  border-color: #49220b;
  border-style: solid;
  border-width: 0.07em;
  width: 8em;
  height: 2em;
  font-size: 0.75em;
  text-decoration: none;
  text-align: center;
  color: black;
  padding-top: 0.3em;
  font-family: "Century", "Georgia", serif;
}

#addBookDisplayBox h2 {
  font-family: "Century", "Georgia", serif;
  font-size: 3.5em;
}

#addBookDisplayBox h3 {
  font-family: "Century", "Georgia", serif;
  font-size: 2em;
}

#addBookDisplayBox p {
  font-family: "Century", "Georgia", serif;
  font-size: 1em;
}

#addBookDisplayBox input[type="text"] {
  background-color: #d89f6a;
  color: black;
}

.addBookLabel {
  width: 8em;
  height: 2em;
  font-size: 0.9em;
  text-decoration: none;
  text-align: center;
  color: black;
  padding-top: 0.3em;
  font-family: "Century", "Georgia", serif;
}

.enclosedForm {
  background-color: #a36a36;
  border-radius: 0.7em;
  border-color: #49220b;
  border-style: solid;
  border-width: 0.07em;
  width: 50em;
  height: 55em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.addBookFormDiv {
  padding: 0em;
  margin: 0em;
  width: 10em;
  font-size: 1.3em;
  border-style: none;
  text-align: center;
}

#addBookFormTextareaDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#addBookFormTextareaDiv textarea {
  background-color: #d89f6a;
  color: black;
}

#uploadForm {
  padding: 0.5em;
}

#displayBoxInner {
  display: flex;
}

#displayBoxInner button {
  background-color: maroon;
  font-weight: bold;
}

.displayBox a {
  background-color: #a36a36;
  border-radius: 0.7em;
  border-color: #49220b;
  border-style: solid;
  border-width: 0.07em;
  width: 4.5em;
  height: 2em;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  color: black;
  padding-top: 0.3em;
  font-family: "Century", "Georgia", serif;
}

#iconDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#iconDiv a {
  padding: 0em;
  padding-top: 0.5em;
  width: 1.5em;
  height: 1.5em;
  text-decoration: none;
  color: black;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.3em;
  border-color: black;
  background-color: #a36a36;
}
.shelfButtons {
  background-color: #a36a36;
  border-style: solid;
  border-width: 0.1em;
  border-color: black;
  border-radius: 0.5em;
  height: 3.5em;
  width: 4em;
  font-size: 0.9em;
}

#shelfNavForm {
}
.empty {
  background-color: #fa5454;
}

h2 {
  font-size: 8em;
}

h3 {
  font-size: 3em;
}

footer {
}
