@charset "UTF-8";

h1,
h2,
h3,
p, nav {
  font-family: "Century", "Georgia", serif;
}

body {
  background-color: #49220b;
    font-family: "Century", "Georgia", serif;
}

main form{
  border: 0.2em solid black;
  display:flex;
  margin:5em;
  padding:2em;
  flex-direction:column;
  margin-right:15em;
  justify-content:space-around;
  background-color:#d89f6a;
  align-items:center;

}

form div{
  padding: 1em;
  margin: 1em;
  width: 10em;
  font-size:1em;
  border: 0.2em solid black;
  justify-content:center;
  align-items:center;
  background-color:#a36a36;
}

form button{
  margin:0.5em;
}

button{
  background-color: #a36a36;
  border-radius: 0.7em;
  border-color: #49220b;
  border-width: 0.07em;
  width: 4.5em;
  height: 2em;
  font-size: 2em;
}

#forgotpassword{
  width:auto;
  font-size:1em;
  color:blue;
  text-decoration:underline;
  margin:1em;
}

header {
  background-color: #d89f6a;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  order: 3;
  font-size: 3.5em;
  text-align: center;
  padding-top: 0.2em;
}

header button {
  background-color: #a36a36;
  border-radius: 0.7em;
  border-color: #49220b;
  border-width: 0.07em;
  width: 4.5em;
  height: 2em;
  font-size: 2em;
  /*  position: relative;
  bottom: 1.85em; */
}

#homeButton {
  order: 1;
  /*  left: 3em; */
}

#libraryButton {
  order: 2;
  /*  left: 12em; */
}

#accountButton {
  order: 4;
  /*  left: 29em; */
}

#searchButton {
  background-color: #a36a36;
  border-radius: 0.7em;
  border-color: #49220b;
  border-width: 0.07em;
  height: 2em;
  width: 4em;
  font-size: 1.5em;
  text-align: center;
}

header form {
  order: 5;
}

#searchField {
  font-size: 1.2em;
  font-style: italic;
  border-radius: 0.5em;
  background-color: #a36a36;
  border-color: #49220b;
}

#sortDiv {
  height: 2em;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.3em;
  justify-content: flex-start;
}

#sortDiv p {
  font-size: 1.45em;
  background-color: #a36a36;
}

select {
  background-color: #d89f6a;
  font-size: 1.3em;
  border-color: #a36a36;
  border-width: 0.12em;
}

#shelfDiv {
  padding-top: 5em;
  height: 40em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.shelfOuter {
  /*position: relative;
  top: 10em; */
  background-color: #a36a36;
  border-style: solid;
  border-radius: 0.5em;
  height: 12.5em;
  width: 60em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.shelfInner {
  background-color: #d89f6a;
  border-style: solid;
  border-radius: 0.5em;
  height: 1em;
  width: 60em;
}

#shelfDiv nav {
  align-self: flex-end;
}

nav a {
  padding: 0.05em;
  text-decoration: none;
  color: cyan;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.3em;
  border-color: black;
  background-color: #a36a36;
}

footer {}
