@charset "UTF-8";
h1,
h2,
h3,
p {
  font-family: "Century", "Georgia", serif;
}

body {
  background-color: #49220b;
}
header {
  background-color: #d89f6a;
}
/*Button color whateverthefuck #a36a36*/
footer {
}
